/* https://markdotto.com/2018/02/07/github-system-fonts/ */
$fonts: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

body {
  font-family: $fonts;
  color: #333;
  font-size: 15.5px;
  line-height: 1.5;
  margin: 3em 0 3em;
}

p {
  margin: 1.25em 0 0;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.11em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

hr {
  margin: 2em 0;
  border: 0;
  border-top: 2px dotted #aaa;
}

pre,
code {
  border-radius: 3px;
  overflow-x: auto;
}
code {
  background: #f9f9f9;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
}
pre code {
  background: #f9f9f9;
  display: block;
  margin: 0;
  padding: 1em;
  color: inherit;
}

blockquote {
  padding-left: 1.25em;
  padding-right: 1.5em;
  border-left: 0.25em solid #eee;
  color: #666;
}

main {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  margin: 2em 0 0.2em;
}

.date {
  font-size: 0.85em;
  color: #888;
  margin: 0 0 0.5em 0;
  line-height: 3em;
  border-bottom: 1px solid #ccc;
}

.horizontal-links {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.25em;
  a {
    border-right: 2px solid #ccc;
    padding-right: 0.5em;
    margin-right: 0.5em;
  }
  a:last-child {
    border: none;
  }
  &:last-child {
    margin-bottom: 1.25em;
  }
}

.blog-hr {
  border-bottom: 1px solid #ccc;
}

.tags {
  padding-top: 15px;
  font-size: 0.9em;
  .links {
    display: inline;
    margin-left: 0.5em;
    a {
      color: #aaa;
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: #888;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }
}
