[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/wangonya/hugo-xmin
[submodule "themes/hugo-rocinante"]
	path = themes/hugo-rocinante
	url = https://github.com/wangonya/hugo-rocinante
