* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333333;
  padding: 20px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h2 {
  margin-bottom: 1rem;
  line-height: 1.25;
  color: #313131;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.logo {
  position: relative;
  max-width: 750px;
  margin: 130px auto 35px;
}

p a {
    color: black;
}

.social-links{
  font-size: 16px;
  margin-bottom: 5%;
}
.social-links a{
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  position: relative;
  margin-right: 5px;
  display: inline-block;
  border-bottom: none !important;
  text-decoration: none;
  display: inline-block;
}
.social-links a i,
.social-links a span{
  position: relative;
  top: 2px;
  left: 1px;
}

.silver {
    color: silver;
}

.silver-link {
    color: silver;
}

.silver-link:hover {
    color: rgb(90, 90, 90);
}
