@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

/* catppuccin mocha */
:root {
  --bg: #1e1e2e;
  --bg-alt: #45475a;
  --fg: #cdd6f4;
  --fg-alt: #bac2de;
  --blue: #89b4fa;
}

@media (prefers-color-scheme: light) {
  :root {
    /* catppuccin latte */
    --bg: #eff1f5;
    --bg-alt: #5c5f77;
    --fg: #4c4f69;
    --fg-alt: #acb0be;
    --blue: #1e66f5;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--bg);
  color: var(--fg);
  max-width: 850px;
  margin: 100px auto 100px auto;
  padding: 0 25px;
}

a:link {
  color: var(--blue);
}
a:visited {
  color: var(--blue);
}
a:hover {
  color: var(--fg);
}

header {
  padding-bottom: 20px;
}

blockquote,
pre {
  border-width: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--bg-alt);
  box-shadow: none;
  padding: 3px 15px;
}
pre,
code {
  overflow-x: auto;
}
pre code {
  display: block;
  font-size: large;
}

blockquote {
  margin: 0;
}

table {
  border: solid 1px var(--bg-alt);
  border-collapse: collapse;
  border-spacing: 0;
}
thead th,
tbody td {
  border: solid 1px var(--bg-alt);
  padding: 10px;
  text-align: left;
}

#blog-list {
  padding: 0;
  list-style-type: none;
}

#blog-list li {
  padding-bottom: 2px;
}
