:root {
  --bg: #202020;
  --bg-alt: #282828;
  --fg: #e5e5e5;
  --blue: #8f8aac;
  --blue-alt: #a39ec4;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "body";
  src: url("DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mono";
  src: url("DMMono-Regular.ttf") format("truetype");
}

body {
  font: 18px/28px body, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  max-width: 850px;
  margin: 100px auto 100px auto;
  padding: 0 25px;
}

a:link {
  color: var(--blue);
}
a:visited {
  color: var(--blue);
}
a:hover {
  color: var(--blue-alt);
}

header {
  padding-bottom: 20px;
}

blockquote,
pre {
  border-width: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--bg-alt);
  box-shadow: none;
  padding: 3px 15px;
}
pre,
code {
  overflow-x: auto;
  font-family: mono, monospace;
}
pre code {
  display: block;
  font-size: medium;
}

blockquote {
  margin: 0;
}

table {
  border: solid 1px var(--bg-alt);
  border-collapse: collapse;
  border-spacing: 0;
}
thead th,
tbody td {
  border: solid 1px var(--bg-alt);
  padding: 10px;
  text-align: left;
}

#blog-list {
  padding: 0;
  list-style-type: none;
}

#blog-list li {
  padding-bottom: 2px;
}

.space-right {
  padding-right: 10px;
}

.meta {
  color: var(--fg-alt);
  font-family: mono, monospace;
}
