/* catppuccin mocha */
:root {
  --bg: #1e1e2e;
  --bg-alt: #45475a;
  --fg: #cdd6f4;
  --fg-alt: #bac2de;
  --blue: #89b4fa;
}

@media (prefers-color-scheme: light) {
  :root {
    /* catppuccin latte */
    --bg: #eff1f5;
    --bg-alt: #5c5f77;
    --fg: #4c4f69;
    --fg-alt: #acb0be;
    --blue: #1e66f5;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "body";
  font-style: normal;
  src: url("GoogleSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "body";
  font-style: italic;
  src: url("GoogleSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "body";
  font-style: oblique;
  src: url("GoogleSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mono";
  font-style: normal;
  src: url("DMMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "mono";
  font-style: oblique;
  src: url("DMMono-Medium.ttf") format("truetype");
}

body {
  font: 18px/28px body, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  max-width: 850px;
  margin: 100px auto 100px auto;
  padding: 0 25px;
}

a:link {
  color: var(--blue);
}
a:visited {
  color: var(--blue);
}
a:hover {
  color: var(--fg);
}

header {
  padding-bottom: 20px;
}

blockquote,
pre {
  border-width: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--bg-alt);
  box-shadow: none;
  padding: 3px 15px;
}
pre,
code {
  overflow-x: auto;
  font-family: mono, monospace;
}
pre code {
  display: block;
  font-size: large;
}

blockquote {
  margin: 0;
}

table {
  border: solid 1px var(--bg-alt);
  border-collapse: collapse;
  border-spacing: 0;
}
thead th,
tbody td {
  border: solid 1px var(--bg-alt);
  padding: 10px;
  text-align: left;
}

#blog-list {
  padding: 0;
  list-style-type: none;
}

#blog-list li {
  padding-bottom: 2px;
}

.space-right {
  padding-right: 10px;
}

.meta {
  color: var(--fg-alt);
  font-family: mono, monospace;
}
