html {
  overflow-y: scroll;
}
body {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
  color: #333;
}
pre code {
  background: #f9f9f9;
  display: block;
  padding: 1em;
  overflow-x: auto;
}
blockquote {
  padding: 0 1.5em 0 1em;
  border-left: 0.25em solid #eee;
  color: #666;
}
.link-list {
  padding-right: 5px;
}
.footnote-definition * {
  display: inline;
}
