body {
  color: #222;
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: 1rem;
}

pre {
  overflow-x: auto;
}

code {
  font-family: monospace;
  font-size: 0.95em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
}

.blog-list {
  list-style: none;
  padding: 0;
}

.blog-list-date {
  padding-right: 5px;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}