html {
  font-size: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: optional;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.62em;
  padding: 0 2.5em;
  margin: 3rem auto;
  font-size: 0.9rem;
  word-wrap: break-word;
  max-width: 768px;
}

header {
  margin-bottom: 1rem;
}

pre {
  overflow-x: auto;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
}

pre,
pre code {
  font-family: "IBM Plex Mono", "Menlo", "Consolas", monospace;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 0.9em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f9f9f9;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
}

ul.blog-list,
ol.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-list-date {
  padding-right: 5px;
}

ul.horizontal-list,
ol.horizontal-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

@supports not (gap: 1rem) {

  ul.horizontal-list>li,
  ol.horizontal-list>li {
    margin-right: 1rem;
  }

  ul.horizontal-list>li:last-child,
  ol.horizontal-list>li:last-child {
    margin-right: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181a1b;
    color: #e8e6e3;
  }

  th,
  td {
    border-color: #444;
  }

  th {
    background-color: #23272a;
  }

  pre {
    background: #23272a;
    color: #e8e6e3;
  }

  a:link {
    color: #8ab4f8;
  }

  a:visited {
    color: #c58af9;
  }

  img {
    opacity: 0.95;
  }
}