// Code

pre {
  @include left-line();
  line-height: 1.4;
  box-shadow: none;
  padding: 3px 10px;
}

pre,
code {
  font-family: $code-font;
  color: $code-foreground;
  font-size: 13px;
  overflow-x: auto;
}
pre code {
  display: block;
}
