// Headings for the post and index pages

// Default face and margins
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 30px;
}

// Override sizes
h1,
h1 code {
  font-size: 30px;
}

h2,
h2 code {
  font-size: 24px;
}

h3,
h3 code {
  font-size: 20px;
}

h4,
h4 code {
  font-size: 18px;
}

h5,
h5 code {
  font-size: 18px;
}

h6,
h6 code {
  font-size: 18px;
}
