{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ if .Params.archived }}
  <p>This post has been archived and is no longer available.</p>
  {{ else }}
  {{ .Content }}
  <div class="post-footer">
    {{- with .GetTerms "tags" }}
    <ul class="horizontal-list tag-list">
      {{- range . }}
      <li><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    <p class="disclaimer">wangonya is human and can make mistakes. Double-check important info.</p>
  </div>
  {{ end }}
{{ end }}
