<article class="post-list">
    <h2>Blog</h2>
    <div class="title-group">
        {{ $pinned := where site.Pages "Section" "pinned" }}
        {{ range $pinned.GroupByParam "pinned" }}
            <div class="title">
                <h4>Pinned</h4>
            </div>
            <ul>
                {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ end }}
        {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
        <div class="title">
            <h4>{{ .Key }}</h4>
        </div>
        <ul>
            {{ range .Pages }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</article>
