<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        body {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            font-family: system-ui, -apple-system, sans-serif;
            line-height: 1.6;
        }
    </style>
</head>

<body>
    <article>
        <h1>{{.Title}}</h1>
        <small>{{.Date}}</small>
        {{range .Tags}}<a href="/tags/{{.}}.html"><small>{{.}}</small></a> {{end}}
        {{.Content}}
    </article>
</body>

</html>