html {
  max-width: 700px;
  font-size: 14px;
  line-height: 25px;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  color: #333333;
  padding: 50px 20px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  line-height: 1.25;
  color: #313131;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a:hover {
  color: #369;
  border-color: #369;
}

a {
  color: inherit;
}

code {
  color: #f14e32;
  background: #eee;
  padding: 2px 6px;
}

code,
pre,
.code,
.footnotes {
  font-family: Consolas, monaco, monospace;
  font-size: 0.9rem;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9 !important;
  border: 1px solid #ddd;
  padding: 1rem;

  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}

table {
  width: 100%;
  table-layout: fixed;

  border: solid 1px #c7c7c6;
  border-collapse: collapse;
  border-spacing: 0;

  thead th,
  tbody td {
    border: solid 1px #c7c7c6;
    padding: 10px;
    text-align: left;
  }

  thead {
    background: #f2f2f2;
  }
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 40px 0;
  padding: 5px 30px;
  background: #eee;
}

li {
  line-height: 30px;
}

hr {
  border: 0;
  background: #ddd;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    color-stop(#ccc),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    #ccc,
    rgba(255, 255, 255, 0)
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #ccc,
    rgba(255, 255, 255, 0)
  );
  height: 1px;
  margin: 2em 0;
}

footer {
  display: flex;
  font-size: 0.8rem;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  color: #777;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

img {
  display: block;
  margin: 0 auto;
}

.blog-list {
  list-style: none;
  padding: 0;
}

.meta {
  color: #a7a7a7;

  a {
    text-decoration: none;
  }
}

#tags {
  float: right;
}
