{{ define "main" }}

    <div class="post">
        <div class="title-group">
            <div class="title">
                <h1>{{ .Title }}</h1>
            </div>
            {{ if .Params.date }}
                <div class="date"><h5>{{ .Params.date.Format "Jan 02, 2006" }}</h5></div>
            {{ else if .Params.last_updated }}
                <div class="date"><h5>Last updated: {{ .Params.last_updated | dateFormat "Jan 02, 2006" }}</h5></div>
            {{ end }}
            {{ if .Params.series }}
              <p class="series">Series: {{ .Params.series }}</p>
            {{end}}
            {{ if not .Params.last_updated }}
                {{ if eq .ReadingTime 1 }}
                    <p class="read-time">Read time: {{.ReadingTime}} minute</p>
                {{ else }}
                    <p class="read-time">Read time: {{.ReadingTime}} minutes</p>
                {{ end }}
            {{ end }}
        </div>
 
        <article class="content">
            {{ .Content }}
        </article>
        {{ with .Params.tags }}
            <div class="tags">
                <span title="Tags">🏷</span>
                <div class="horizontal-links links">
                    {{ range . }}{{ with $.Site.GetPage (printf "/tags/%s" ( . | urlize)) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}{{ end }}
                </div>
            </div>
        {{ end }}
    </article>

{{ end }}
