{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <small class="meta">
      <span>
        {{ $date := .Date.Format "2 January, 2006" }}
        {{ $lastmod := .Lastmod.Format "2 January, 2006" }}

        {{ if in .RelPermalink "blog" }}
          Posted on {{ $date }}
        {{ else }}
          Last Updated on {{ $lastmod }}
        {{ end }}
      </span>

      <span id="tags">
        {{ if .Params.tags }}🏷&nbsp;{{ end }}
        {{ range $key, $value := .Params.tags }}
          <a href="/tags/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub (len $.Params.tags) 1) }}, {{ else }}{{ end }}
        {{ end }}
      </span>
    </small>

    {{ .Content | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?>)(.+)(</h[1-6]+>)" "${1}<a href=\"#${2}\">${3}</a>${4}" | safeHTML }}
    <!-- {{ with .NextInSection }} -->
    <!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
    <!-- {{ end }} -->
  </article>
	{{ partial "footer" . }}
{{ end }}
