{{ define "main" }}
<div class="page-header">
  {{ $date := .Date.Format "2006-01-02" }}
  {{ $lastmod := .Lastmod.Format "2006-01-02" }}
  <div class="page-meta">
    <p>Published {{ .Date.Format "Jan 2, 2006" }}</p>
    {{ if ne $lastmod $date }}
      <p>Last Modified {{ .Lastmod.Format "Jan 2, 2006" }}</p>
    {{ end }}
  </div>
  <h1>{{ .Title }}</h1>
</div>

<div id="content">
  <div class="page-tags">
    {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ .Content }}
</div>
{{ end }}
