{{ define "main" }}
<div class="page-header">
  {{ $date := .Date.Format "Jan 02, 2006" }}
  {{ $lastmod := .Lastmod.Format "Jan 02, 2006" }}
  <div class="page-meta">
    {{ if in .RelPermalink "blog" }}
      {{ $date }}
    {{ else }}
      Last Updated: {{ $lastmod }}
    {{ end }}
  </div>
  <h1>{{ .Title }}</h1>
</div>

<div id="content">
  <div class="page-tags">
    {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ .Content }}
  <!-- {{ with .NextInSection }} -->
  <!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
  <!-- {{ end }} -->
</div>
{{ end }}
